body {
    font-size: 20px;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    gap: 10rem;
}

.card {
    width: 300px;
    height: 150px;
    background-color: orange;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.hidden {
    display: none;
}

.button {
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}